<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>
    <head>
        <title>Rango</title>
       	<link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- CSS -->
        <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->
    </head>

    <body>
        <h1>Rango says...</h1>
        This is the about page! <strong>{{ boldmessage }}</strong><br />
        <a href="/rango/">Home</a><br />
         <img src="{% static "about.jpeg" %}" alt="Picture About us" /> <!-- New line -->
    </body>

</html>
