<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>{{ category_name }}</h1>
        {% if category %}



            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}

            <a href="add_page/"> Add new page </a>

        {% else %}
            <p> The specified category {{ category_name }} does not exist!,
                Would you like to add it? </p>
            <a href="/rango/add_category/">Add a New Category</a>

        {% endif %}

      
    </body>
</html>