{% extends 'rango/base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <h1>{{ category_name }}</h1>

    <p>

    <b id="like_count">{{ category.likes }}</b> people like this category

    {% if user.is_authenticated %}
        <button id ="likes" data-catid="{{category.id}}" class="btn btn-mini btn-primary" type="button">Like</button>
    {% endif %}

    </p>

   {% include 'rango/pages_list.html' %}

    {% if user.is_authenticated %}
        <form class="form-signin span8" id="user_form" method="post" action="/rango/category/{{category_name_url}}/">
            {% csrf_token %}
            <!-- Display the search form elements here -->
            <input type="text" size="50" name="query" value="" id="query" />
            <input class="btn btn-primary" type="submit" name="submit" value="Search" />
            <br />
        </form>
    {% if result_list %}
    <div style="clear: both;">
        <ol>
        {% for result in result_list %}
            <li>
            <strong><a href="{{ result.link }}">{{ result.title }}</a></strong> 
            <button data-catid="{{category.id}}" data-title="{{ result.title }}" data-url="{{ result.link }}" class="rango-add btn btn-mini btn-info" type="button">Add this page</button>
            <br />
            <em>{{ result.summary }}</em>
            </li>
        {% endfor %}
        </ol>
    </div>
    {% endif %}
    {% endif %}
{% endblock %}