<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says..hello world!</h1>

        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>

       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}

    {% if pages %}
      <h1> Top 5 viewed Pages </h1>
        <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong> There are no favorites pages or no pages at all (ERROR) </strong>
    {% endif %}

    </body>
</html>
